html body {
  margin: 0px;
}
img {
  width: 200px;
  height: 200px;
  margin: 10px;
  box-shadow: 10px 10px 5px 0px rgb(0, 0, 0, 0.4);
  background-color: aquamarine;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-around;
  align-items:self-start;
}
